<ion-view view-title="Contact us">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
            Local Information
        </div>
        <div class="item item-text-wrap">
               <b>Our Address </b>
                <p>121, Clear Water Bay Road
                Clear Water Bay, Kowloon
                HONG KONG<br>
                    
                <span class="ion-android-call"></span> : +852 1234 5678<br>
                <span class="ion-printer"></span> : +852 4566 5678<br>
                <a href="mailto:confuscion@food.net">
                <span class="ion-email"></span> : confuscion@food.net<br>
                </a>
        </div>
        <div class="button-bar">
             <a class="button button-positive">
                 <span class="ion-android-call"> call</span>
                    </a>
                 <a class="button button-calm">
            <span class="ion-social-skype"> Skype</span>
                  </a>    
                  <a class="button button-balanced">
            <span class="ion-ios-email "> Email</span>
                  </a>
        </div>  
      </div><!--- 2nd  card close ---->
  </ion-content>
</ion-view>





