<ion-view view-title="Contact us">
  <ion-content>
    <div class="card">
          <div class="item item-divider">
            Local Information
           </div>
          <div class="item item-text-wrap">
               <b>Our Address </b>
                <p>121, Clear Water Bay Road
                Clear Water Bay, Kowloon
                HONG KONG<br>
                    
                <span class="ion-android-call"></span> : +852 1234 5678<br>
                <span class="ion-printer"></span> : +852 4566 5678<br>
                <span class="ion-email"></span> : confustion@food.net<br>
   
       </div>
        <div class="button-bar">
 <a class="button button-positive">
     
          <p class="title">Call</p>
        </a>
      <div class="button button-calm">
          <p class="title">Skype</p>
    </div>    
      <div class="button button-balanced">
          <p class="title">Email</p>
      </div>
</div>  
</div><!--- 2nd  card close ---->
  
 </ion-content>
</ion-view>





