<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Submit comment on Dish</h1>
    </ion-header-bar>
    <ion-content>
        <div class="form-group">
          <label class="item item-input item-select">
            <div class="input-label">
             Rateing
            </div>
               <select ng-model="mycomment.rating">
                  <option ng-repeat ="n in [1,2,3,4,5]">{{n}}</option>
                </select>
          </label>
          <label class="item item-input" for="author">
            <input class="form-control" type="text" placeholder="Your Name" id="author" name="author" ng-model="mycomment.author" required >
          </label>
         <label class="item item-input" for="author">
            <input class="form-control" type="text" placeholder="Your comment" id="comment" name="comment" ng-model="mycomment.comment" >
          </label>
            <button class="button button-full button-positive "
            ng-click="doComment()">
              Submit
            </button>
        </div>
     </ion-content>
</ion-modal-view>