<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Submit comment on Dish</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
             Rateing
            </div>
               <select>
                  <option>1</option>
                  <option selected>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Your Name">
          </label>
          <label class="item item-input">
            <textarea placeholder="Your Comments"></textarea>
          </label>
            <button class="button button-full button-positive ">
      Submit
    </button>
        </div>
     </ion-content>
</ion-modal-view>